*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
}
header {
    width: 100%;
    background-color: navy;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
header nav .logo {
    text-align: center;
    color: rgb(35, 228, 35);
    font-size: 1.rem;
}
header nav .log img{
    width: 100%;
    width: 3.5rem;
    border-radius: 5px;
}
header nav{
    width: 80%;
    /*background-color: blue;*/
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
}
    
 nav .ul {
    display: flex;
    width: 80%;
    list-style: none inside;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
nav .ul li {
    display: block;
    position: relative;
    float: left;
    background-color: navy;
  }
  
nav .ul li a {
    display: block;
    padding: 0;
    text-decoration: none;
    width: 200px;
    line-height: 35px;
    color: #ffffff;
  }
  
nav .ul li li a {
    font-size: 80%;
  }
  
nav .ul li:hover {
    background: rgb(35, 250, 35);
  }
  
nav .ul ul {
    position: absolute;
    padding: 0;
    left: 0;
    display: none;
  }
  
nav .ul li:hover ul {
    display: none;
  }
  
  nav .ul li:hover ul {
    display: block;
  }
  
.container {
    width: 100%;

}